<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard Template for Bootstrap</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>
<div id="app">
<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ESTAGIÁRIOS - 2019</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Estagiário <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Contratos</a></li>
                <li><a href="#">I.E's</a></li>
                <li><a href="#">Coordenadores</a></li>
                <li><a href="#">Lotações</a></li>
                <li><a href="#">Vale Transporte</a></li>
                <li><a href="#">Desistentes</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            
            <h2 class="sub-header">Estagiário</h2>

            <form action="#" method="post" class="form-horizontal form">
                <div class="jumbotron">
                    <div class="form-group">
                        <label for="nome" class="col-sm-1 control-label">NOME</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" name="nome" id="nome">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nascimento" class="col-sm-1 control-label">NASC. </label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" name="nascimento" id="nascimento">
                        </div>
                        <label for="rg" class="col-sm-1 control-label">RG</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="rg" id="rg">
                        </div>
                        <label for="cpf" class="col-sm-1 control-label">CPF</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="cpf" id="cpf">
                        </div>
                    </div>
                </div>
                <div class="jumbotron">
                    <div class="form-group">
                        <label for="cep" class="col-sm-1 control-label">CEP</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="cep" id="cep">
                        </div>
                        <label for="rua" class="col-sm-1 control-label">RUA</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="rua" id="rua">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="bairro" class="col-sm-1 control-label">BAIRRO</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="bairro" id="bairro">
                        </div>

                        <label for="cidade" class="col-sm-1 control-label">CIDADE</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="cidade" id="cidade" v-model="estagiario.endereco.cidade">
                        </div>

                        <label for="estado" class="col-sm-1 control-label">UF</label>
                        <div class="col-sm-2">
                            <select class="form-control" name="estado" id="estado" v-model="estagiario.endereco.estado">
                                <option :value="estado" v-for="e in estados">{{e}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="tel" class="col-sm-1 control-label">TELEFONE</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="tel" id="tel">
                        </div>
                        <label for="cel" class="col-sm-1 control-label">CELULAR</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="cel" id="cel">
                        </div>
                        <label for="rec" class="col-sm-1 control-label">RECADO</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="rec" id="rec">
                        </div>
                    </div>
                </div>
                <div class="jumbotron">
                    <div class="form-group">
                        <label for="nivel" class="col-sm-1 control-label" >NÍVEL</label>
                        <div class="col-sm-4" >
                            <select class="form-control" name="nivel" id="nivel" v-model="estagiario.nivel">
                                <option :value="nivel" v-for="nivel in niveis">{{nivel.text}}</option>
                            </select>

                        </div>
                        <label for="nivel" class="col-sm-1 control-label" >BOLSA</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" :value="estagiario.nivel.valor" name="bolsa" id="bolsa" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="hr" class="col-sm-1 control-label" >HORÁRIO</label>
                        <div class="col-sm-4" >
                            <select class="form-control" name="hr" id="hr">
                                <option value="#">HORÁRIO</option>
                                <option value="20hm">20 H (M)</option>
                                <option value="20hm">20 H (T)</option>
                                <option value="20hm">30 H (M)</option>
                                <option value="20hm">30 H (T)</option>
                            </select>

                        </div>


                        <label for="lota" class="col-sm-1 control-label" >LOTAÇÃO</label>
                        <div class="col-sm-6" >
                            <select class="form-control" name="lota" id="lota" v-model="estagiario.lotacao">
                                <option :value="lotacao" v-for="lotacao in lotacoes">{{lotacao.nome}}</option>
                            </select>

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="vt" class="col-sm-1 control-label" >VT</label>
                        <div class="col-sm-1" >
                            <input type="checkbox" id="vt" v-model="estagiario.vt.usa">

                        </div>
                        <div v-if="estagiario.vt.usa">
                        <label for="metrocard" class="col-sm-2 control-label" >METROCARD</label>
                        <div class="col-sm-3" >
                            <input type="number" class="form-control" :value="estagiario.vt.cotaMetrocard" v-model="estagiario.vt.cotaMetrocard" name="metrocard" id="metrocard" min="0" max="2">
                        </div>
                        <label for="urbs" class="col-sm-2 control-label" >URBS</label>
                        <div class="col-sm-3" >
                            <input type="number" class="form-control" :value="estagiario.vt.cotaUrbs" v-model="estagiario.vt.cotaUrbs" name="urbs" id="urbs" min="0" max="2">
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="admissao" class="col-sm-1 control-label" >ADMISSÃO</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" name="admissao" id="admissao">
                    </div>
                </div>
                </div>

                <div class="jumbotron">
                    <div class="form-group">

                        <label for="ie" class="col-sm-1 control-label" >I.E.</label>
                        <div class="col-sm-6" >
                            <select class="form-control" name="ie" id="ie" v-model="estagiario.ie">

                                <option :value="ie" v-for="ie in ies">{{ie}}</option>

                            </select>

                        </div>

                        <label for="curso" class="col-sm-1 control-label" >CURSO</label>
                        <div class="col-sm-4" >
                            <select class="form-control" name="curso" id="curso" v-model="estagiario.curso">
                                <option :value="curso" v-for="curso in cursos">{{curso}}</option>

                            </select>

                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/main.js"></script>
</body>
</html>
